/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */
* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

html, body {
    height: 100%;
}


canvas {
	width: 100%; 
	height: 100%;
}

/*  ========================
    story-container
    ======================== */

#story-container {
	/* Positioning */
	position: fixed;
	left: 15px;
	bottom: 15px;
	/* Box-model */
	width: 500px;
	height: auto;
	/* Typography */
	/* Visual */
	/* Misc */
}

.top-bar {
	/* Positioning */
	/* Box-model */
	height: 23px;
	/* Typography */
	/* Visual */
	background-color: black;
	/* Misc */	
}

.top-bar:hover {
	cursor: move;
}

.story-title {
	/* Positioning */
	float: left;
	/* Box-model */
	width: 120px;
	margin-top: 3px;
	margin-left: 190px;
	/* Typography */
	text-align: center;
	font-size: 14px;
	font-family: monospace;
	/* Visual */
	color: white;
	/* Misc */	
}

#minimize {
	/* Positioning */
	float: right;
	/* Box-model */
	margin-top:3px; 
	margin-right: 10px;
	padding-left:5px;
	padding-bottom: 1px;
	padding-right:4px; 
	/* Typography */
	font-family: monospace;
	font-size: 12px;
	font-weight: bolder;
	/* Visual */
	border: 1px solid white;
	color: white;
	/* Misc */
}

#minimize:hover {
	border: 1px solid white;
	color:blue; 
	background-color: white;
	cursor:pointer;
}

#text {
	/* Positioning */
	/* Box-model */
	padding: 10px 15px 15px 15px;
	height: 300px;
	width: auto;
	/* Typography */
	/* Visual */
	border-right: 1px dotted black;
	border-bottom: 1px dotted black;
	border-left: 1px dotted black;	
	overflow-y:scroll;
	/* Misc */	
}