/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */
* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

html, body {
    height: 100%;
}


canvas {
	width: 100%; 
	height: 100%;
}

/*  ========================
    story-container
    ======================== */

