/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  ===============================================
    ADDING FONTS
    =============================================== */

@font-face {
    font-family: 'martelbold';
    src: url('../fonts/martel/martel-bold-webfont.eot');
    src: url('../fonts/martel/martel-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/martel/martel-bold-webfont.woff2') format('woff2'),
         url('../fonts/martel/martel-bold-webfont.woff') format('woff'),
         url('../fonts/martel/martel-bold-webfont.ttf') format('truetype'),
         url('../fonts/martel/martel-bold-webfont.svg#martelbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */
* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

html, body {
    height: 100%;
    overflow: hidden;
}


canvas {
	position: fixed;
	top:0;
	width: 100%; 
	height: 100%;
	z-index: 0;
}

/*  ========================
    intro
    ======================== */

.intro {
	/* Positioning */
	position: fixed;
	left: 20%;
	/* Box-model */
	width: 60%;
	margin-top:40px;
	/* Typography */
	/* Visual */
	overflow: hidden;
	background-color: black;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	/* Misc */
}

.title,
.back,
#enter {
	color: white;
	

}

.title {
	/* Positioning */
	/* Box-model */
	margin-top:20px;
	margin-bottom: 20px;
	margin-left:21px;
	/* Typography */
	font-family: 'Sarala';
	font-size: 24px;
	/* Visual */
	-o-transform: skewX(-35deg); /* Opera */
    -ms-transform: skewX(-35deg); /* IE 9 */
    -webkit-transform: skewX(-35deg); /* Safari */
    transform: skewX(-35deg);
	/* Misc */
}

.controls {
	/* Positioning */
	/* Box-model */
	/* Typography */
	font-family: 'Sarala';
	font-size: 18px;
	/* Visual */
	background-color: white;
	/* Misc */
}

.back {
	/* Positioning */
	float: left;
	/* Box-model */
	margin-left: 20px;
	/* Typography */
	/* Visual */
	/* Misc */
}

.back:link,
.back:visited,
#enter {
	/* Positioning */
	/* Box-model */
	padding: 3px 7px 0px 10px;
	margin-bottom: 20px;
	/* Typography */
	font-family: 'martelbold';
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 5px;
	/* Visual */
	border: 1px solid white;
	/* Misc */
}

#enter {
	/* Positioning */
	float: right;
	/* Box-model */
	margin-right: 20px;
	/* Typography */
	/* Visual */
	/* Misc */
}

#enter:hover,
.back:hover {
	/* Positioning */
	/* Box-model */
	/* Typography */
	/* Visual */
	cursor: pointer;
	background-color: white;
	color: black;
	/* Misc */
}

/*  ========================
    close
    ======================== */

#close {
	/* Positioning */
	position: fixed;
	top: 18px;
	right: 15px;
	/* Box-model */
	padding-left:12px; 
	padding-right:12px;
	/* Typography */
	text-align: center;
	font-size: 14px;
	font-family: monospace;
	/* Visual */
	color: black;
	border: 1px solid black;
	background-color: white;
	display: none;
	z-index: 150;
	/* Misc */
}

#close:hover {
	/* Positioning */
	/* Box-model */
	/* Typography */
	/* Visual */
	background: url(../img/2/line.png);
	background-size: 100%;
	border: 1px solid black;
	cursor: pointer;
	/* Misc */
}

/*  ========================
    story-container
    ======================== */

#story-container {
	/* Positioning */
	position: fixed;
	left: 15px;
	top: 15px;
	/* Box-model */
	width: 500px;
	height: auto;
	/* Typography */
	/* Visual */
	background:-moz-linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(255,240,240, 1) 50%,rgba(255,255,255,0.5) 100%);
	background:linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(255,240,240, 1) 50%,rgba(255,255,255,0.5) 100%);
	background:-webkit-linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(255,240,240, 1) 50%,rgba(255,255,255,0.5) 100%);
	background:-o-linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(255,240,240, 1) 50%,rgba(255,255,255,0.5) 100%);
	background:-ms-linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(255,240,240, 1) 50%,rgba(255,255,255,0.5) 100%);
	background:-webkit-gradient(linear, right top, right bottom, color-stop(0%,rgba(255,255,255, 0.5)), color-stop(50%,rgba(255,240,240, 1)),color-stop(100%,rgba(255,255,255,0.5)));
	display: none;
	z-index: 110;
	/* Misc */
}

.top-bar {
	/* Positioning */
	/* Box-model */
	height: 23px;
	/* Typography */
	/* Visual */
	background: url('../img/2/top-bar.png');
	/* Misc */	
}

.top-bar:hover {
	cursor: move;
}

.story-title {
	/* Positioning */
	float: left;
	/* Box-model */
	width: 140px;
	margin-top: 3px;
	margin-left: 193px;
	/* Typography */
	text-align: center;
	font-size: 14px;
	font-family: monospace;
	/* Visual */
	color: black;
	border: 1px solid black;
	background-color: white;
	/* Misc */	
}

#minimize {
	/* Positioning */
	float: right;
	/* Box-model */
	margin-top:3px; 
	margin-right: 6px;
	padding-left:5px;
	padding-bottom: 1px;
	padding-right:4px; 
	/* Typography */
	font-family: monospace;
	font-size: 12px;
	font-weight: bolder;
	/* Visual */
	color: black;
	border: 1px solid black;
	background-color: white;
	/* Misc */
}

#minimize:hover {
	cursor:pointer;
}

#text {
	/* Positioning */
	/* Box-model */
	padding: 10px 15px 15px 15px;
	height: 300px;
	width: auto;
	/* Typography */
	font-family: monospace;
	/* Visual */
	border-right: 1px dotted black;
	border-bottom: 1px dotted black;
	border-left: 1px dotted black;	
	overflow-y:scroll;
	/* Misc */	
}

#three-container {
	display: none;
}

/*  ========================
    video
    ======================== */

.video-wrapper {
	position: fixed;
	opacity: 0;
	top: -40px;
	left: 5%;
	width:90%;
	z-index: 0;
}

.h_iframe {
	position:relative; 
	padding-top: 62.5%;
}

.h_iframe iframe {
	position:absolute;
	top:0;left:0;
	width:100%; 
	height:100%;
}