/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

h1 {
	color: blue;
}


body {
	background-color: black;
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	height: 100%;
	width: 100%;
}

.nav-left {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 20px;
	padding-left: 3%;
	width: 27%;
	z-index: 20;

	border-right: 1px solid white;
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.nav-open {
	display: none;
}

.nav-left h1 {
	color: white;
	font-family: 'Halant', serif;
	font-weight: 600;
	font-size: 30px;
}

.nav-left p {
	margin-top: 15px;
	padding-left: 40px;
	font-family: 'Halant', serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 13px;
	color: white;
}

.nav-left h2 {
	padding: 6px;
	padding-left: 40px;
	font-family: 'Rubik', serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
}

.san-italic {
	font-size: 10px;
	font-family: 'Rubik';
	font-weight: 300;
	font-style: italic;
}

.instructions {
	margin-bottom: 20px;
}

.links h2 {
	margin-bottom: 7px;
	
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	color:white;
}

.link-hover:hover {
	cursor: pointer;
	background-color: white;
	color:black;
}

.link-hover.active {
	background: white;
	color: black;
}

/* ============================
	EXAMPLE INFO
   ============================ */

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 200px;
	overflow-y:scroll;
	border-top: 1px solid white;
	color: white;
}

.info div {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;

}

.info-serif {
	margin-bottom: 10px;
	font-family: 'Halant';
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
}

.info-san {
	margin-bottom: 10px;
	font-size: 16px;
	font-family: 'Rubik';
	font-weight: 300;
	font-style: italic;
	line-height: 21px;
}

.bold {
	font-weight: 600;
}

.indent {
	padding-left: 10px;
	text-indent: -15px;
}

.info-text {
	display: none;
}

.visible {
	display: block;
}

#content {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 70%;
	overflow-y:scroll;
}

/* ============================
	MEDIA QUERIES
   ============================ */

@media screen and (max-width: 800px) { 

	/* NAV LEFT */
	
	.nav-left {
		width: 100%;
		height: 160px;
		background: black; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(black 80%, rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(black 80%, rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(black 80%, rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(black 80%, rgba(0,0,0,0)); /* Standard syntax */
	}

	.nav-left h1 {
		width: 65%;
	}

	.instructions {
	}

	.nav-open {
		display: block;
		position: fixed;
		top: 12px;
		right: 10px;
		width: 55px;
		cursor: pointer;
	}

	.nav-open img {
		width: 100%;
	}

	/* NAV */

	.nav {
		display: none;
		position: fixed;
		top: 135px;
		left: 0px;
		right: 0px;
		bottom:0;
		width: 100%;
		background-color: black;
		z-index: 100;
	}

	.links h2 {
		margin-bottom: 7px;
		border-right: 1px solid white;
		width: 80%;
		margin-left: 7%;
	}

	.links:first-child {
		margin-top: 30px;
	}

	.info {
		display: none;
	}

	/* CONTENT */

	#content {
		position: relative;
		width: 100%;
		margin: 140px 0 0 0;
		overflow-y:scroll;
	}
}