/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  ===============================================
    ADDING FONTS
    =============================================== */

@font-face {
    font-family: 'martelbold';
    src: url('../fonts/martel/martel-bold-webfont.eot');
    src: url('../fonts/martel/martel-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/martel/martel-bold-webfont.woff2') format('woff2'),
         url('../fonts/martel/martel-bold-webfont.woff') format('woff'),
         url('../fonts/martel/martel-bold-webfont.ttf') format('truetype'),
         url('../fonts/martel/martel-bold-webfont.svg#martelbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'habibiregular';
    src: url('../fonts/habibi/habibi-regular-webfont.eot');
    src: url('../fonts/habibi/habibi-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/habibi/habibi-regular-webfont.woff2') format('woff2'),
         url('../fonts/habibi/habibi-regular-webfont.woff') format('woff'),
         url('../fonts/habibi/habibi-regular-webfont.ttf') format('truetype'),
         url('../fonts/habibi/habibi-regular-webfont.svg#habibiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*  ===============================================
    BEGIN AUTHOR STYLING
    =============================================== */
* {
	/*background, 0.8-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

canvas {
	width: 100%; 
	height: 100%;
}

/*  ===========================
	S T O R Y O N E
    =========================== */
	
.container	{
	/* Positioning */
	/* Box-model */
	width: 100%;
	height: auto;
	/* Typography */
	/* Visual */
	/* Misc */
	
}

/*  ========================
	column-l
    ======================== */

.column-l {
	/* Positioning */
	position: absolute;
	top: 7%;
	bottom: 8%;
	left: 15px;
	/* Box-model */	
	width: 30%;
	/* Typography */
	/* Visual */
	border-radius: 6px;
	background: -webkit-linear-gradient(rgba(110, 110, 110, 0.8), rgba( 189, 189, 189, 0.6)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(110, 110, 110, 0.8), rgba( 189, 189, 189, 0.6)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(110, 110, 110, 0.8), rgba( 189, 189, 189, 0.6));  /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(110, 110, 110, 0.8), rgba( 189, 189, 189, 0.6));  /* Standard syntax */	
	/* Misc */
	
}

.column-l-text {
	/* Positioning */
	position: absolute;
	top: 5%;
	bottom: 10px;
	left: 10px;
	right: 20px;
	/* Box-model */
	padding: 10px;
	/* Typography */
	font-family: 'habibiregular';
	font-size: 16px;
	line-height: 18px;
	color: rgb(255,255,255);
	/* Visual */
	border: 2px solid rgba( 255, 255, 255, 1);
	overflow-y: scroll;
	/* Misc */
}

/*  ========================
	links-in
    ======================== */

.links-in {
	/* Positioning */
	position: absolute;
	top: 0;
	left: 30%;
	bottom: 40%;
	/* Box-model */
	width: 50%;
	height: 100%;
	/* Typography */
	/* Visual */
	/* Misc */
}

.link-container {
	/* Positioning */
	position: absolute;
	top: 20%;
	left: 5%;
	bottom: 20%;
	/* Box-model */
	width: 90%;
	/* Typography */
	text-align: center;
	font-size: 25pt;
	/* Visual */
	border: 1px solid blue;
  	background-color: rgba(255, 255, 255, 0.2);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	/* Misc */
}

#rw-title {
	/* Positioning */
	margin: 25px auto 15px auto;
	/* Box-model */
	max-width: 75%;
	padding-top: 16px;
	padding-bottom:9px;
	/* Typography */
	color: white;
	/* Visual */
	background-color: blue;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
	/* Misc */
}

.link-container a:link,
.link-container a:visited  {
	/* Positioning */
	/* Box-model */
	/* Typography */

	color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 1px rgba( 186, 186, 186, .7);
	text-decoration: none;
	/* Visual */
	/* Misc */
	
}

.link-container a:hover  {
	/* Positioning */
	/* Box-model */
	/* Typography */
	color: rgba(255,255,255,1);
	-webkit-text-stroke: 0px black;
	text-decoration: none;
	/* Visual */
	/* Misc */
	
}

a:hover .name-hover-padding{
	background-color: blue;
}

.name-hover-padding {
	margin: 0 auto;
	max-width: 75%;
	
}

#name-top {
	padding-top: 7px;
}

#name-bottom {
	padding-bottom: 7px;
}

#name {
	padding-top: 7px;
	padding-bottom: 7px;
}

.martel {
	padding-top: 5px;
	font-family: 'martelbold';
}

.project-wrap {
	position: absolute;
	top: 87px;
	bottom: 0;
	width: 100%;
	overflow-y:scroll;

}

/*  ========================
	visual
    ======================== */

.visual {
	/* Positioning */
	position: absolute;
	top: 0;
	left: 80%;
	bottom: 4%;
	/* Box-model */
	width: 20%;
	/* Typography */
	/* Visual */
	/* Misc */
	
}

/*  ========================
	footer
    ======================== */

.footer {
	/* Positioning */
	position: absolute;
	top: 90%;
	left: 20%;
	/* Box-model */
	width: 60%;
	padding: 10px;
	/* Typography */
	/* Visual */
	border: 1px solid blue;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	/* Misc */	
}

.footer-text {
	/* Positioning */
	/* Box-model */
	/* Typography */
	font-family: monospace;
	text-align: center;
	font-size: 10pt;
	color: rgb(0, 0, 255);
	
	/* Visual */
	/* Misc */
}


.footer-text a:link,
.footer-text a:visited {
	padding: 5px;
	font-family: monospace;
	text-align: center;
	font-size: 10pt;
	color: rgb(0, 0, 255);
}

.footer-text a:hover {
	padding: 2px 5px;
	color: white;
	background-color: blue;
}